@tailwind base;
@tailwind components;
@tailwind utilities;

@import './Components/Navigation/styles.css';
@import './Components/Button/styles.css';
@import './Tabs/Home/style.css';

:root {
    --bgColor: #fff8f5;
}

body::before {
    content: "";
    height: 140px;
    display: block;
    background-color: var(--bgColor);
}

body {
    background-color: var(--bgColor);
}

@font-face {
    font-family: 'Laviossa';
    src: url('../public/fonts/Laviossa-Medium.otf');
}

@font-face {
    font-family: 'Eloquia-ExtraBold';
    src: url('../public/fonts/EloquiaDisplay-ExtraBold.otf');
}

@font-face {
    font-family: 'Eloquia-ExtraLight';
    src: url('../public/fonts/EloquiaText-ExtraLight.otf');
}

@font-face {
    font-family: 'BrothersideSignature';
    src: url('../public/fonts/BrothersideSignature.otf');
}

@font-face {
    font-family: 'Amsterdam';
    src: url('../public/fonts/Amsterdam.otf');
}


/* https://tailwindcss.com/docs/reusing-styles */
/* @layer components {
    .btn-primary {
        @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    }
} */
